*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/*Navigation*/

.header{ /*header is not a fixed height, need to fix this*/
    display: flex;
    background-color: #03181b;
    color: #15aabf;
    padding: 1%;
    align-items: center;
    height: 75px;
}

.brand{
    margin-left: 15px;
    font-size: 26px;
    letter-spacing: 0.1rem;
}

.header a, .header:visited{
    text-decoration: none;
    list-style: none;
    color: #15aabf;
}

.header button{
    margin-left: auto;
    color: #03181b;
    background-color: #15aabf;
    height: 40px;
    width: 150px;
    margin-right: 15px;
    font-size: 16px;
}

button{
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px;
    background-color: #03181b;
    color: #15aabf;
    margin-right: 1%;
    height: 50px;
    width: 190px;
}


/*Landing Page*/

.landing-page{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('./imgs/guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 75px); /*the viewport - the header height*/
}

.overlay-gradient{ /*the parent of overlay-color is .landing-page so with width and height set to 100%, .overlay-color will take up the entire .landing page*/
    width: 50%;
    min-height: 100%;
    background: linear-gradient(to bottom right, rgba(0,0,0,0) 60%, rgba(0,0,0,0.9) 95%);
}


.content-join{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%; /*I use min-height here so the height will always be 100% of parent (landing-page), if I used just height:100% it will just be the height required for the content*/
    justify-content: space-around;
}

.content-join h1{
    font-size: 48px;
    margin-bottom: 25px;
}

.content-join p{
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
}

.content-join button{
    font-size: 20px;
}

.overlay-teal{
    padding: 5%;
    color: #03181b;
    background-color: #15aabf;
    opacity: 50%;
}
